
body{
	margin: 0;
	font-family: 'Odibee Sans', cursive;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
color: white;
background-color: black;
line-height: 40px;
background-image: url(../img/four-star-dragon-ball-wallpaper.jpg);
padding-bottom: 1600px;
background-repeat: no-repeat;
background-position: center;
}


header{background-color: #d14635;
		text-align: center;
		padding-top: 50px;
		padding-bottom: 50px;}




header h1{
	color: white;
	font-size: 50px;
	font-family: 'Odibee Sans', cursive;
font-family: 'Open Sans', sans-serif;
	
}

header img{
	border-radius: 150px;
	width: 300px;
	border: 20px solid white;
	    background-color: crimson;
	    margin: auto;

}


main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px
}

h2{
	font-size: 30px;
	color: #e70c19;
	margin-top: 0;
	font-family: 'Odibee Sans', cursive;
font-family: 'Open Sans', sans-serif;
}

a{color: #e70c19;}

a:hover{
	color: #483a94;
}

div{
	display: block;
	border: color: white;
	box-sizing: border-box;
	margin: 0 auto;
	text-align: center;
	color: red;
}


footer{background-color: #d14635;
		text-align: center;
		color: white;
		padding: 50px
		 }

 footer p{
 	margin: 0;
 }

footer a:hover{
	opacity: :5;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top:0;
	font-size: 15px
}

p.text{
	background-color: none;
	color: red
}

li.text{
	background-color: none; 
	color: red;
}

.center {
display: block;
margin: auto
width: 50%;
}

.feet {
	display: block;
	text-align: left;
	font-size: 20px

}

.divine {

}
